.mid-faq{
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #dcdcdc;
    box-shadow: 1px 1px 1px 2px gray;
    background-color: #edf2f4;
}
.mid-faq > div{
    border: 1px solid;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.query > textarea{
    width: 100%;
}
.nav-btn{
    margin-left: 10px;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}